.wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 100vh;
    position: fixed;
    margin-top: 64px;
    margin-left: 15%;
}