body {
    margin: 0;
}

.App {
    font-family: 'Karla';
    font-weight: 300;
}

.css-2bi4m2-MuiContainer-root {
    padding-left: 0;
    padding-right: 0;
}

@media (min-width: 1280px) and (max-width: 1400px) {
    .css-xfiq3g.css-xfiq3g {
        width: 17%;
    }
    .css-eglprt.css-eglprt {
        width: 17%;
        margin-left: 83%;
    }
}

@media (min-width: 1024px) and (max-width: 1280px) {
    .css-xfiq3g.css-xfiq3g {
        width: 23%;
    }
    .css-eglprt.css-eglprt {
        width: 23%;
        margin-left: 78%;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .css-xfiq3g.css-xfiq3g {
        width: 28%;
    }
    .css-eglprt.css-eglprt {
        width: 28%;
        margin-left: 72%;
    }
}